{% extends "layouts/main.html" %}

{% set pageName = "Personal details" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: data.name
            },
            actions: {
              items: [
                {
                  href: "/name",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              html: (data.dob | isoDateFromDateInput | govukDate) if data.dob
            },
            actions: {
              items: [
                {
                  href: "/dob",
                  text: "Change",
                  visuallyHiddenText: "contact details"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="/task-list" method="post">
        {{ govukRadios({
          name: "completed[personalDetails]",
          value: data.completed.personalDetails,
          fieldset: {
            legend: {
              text: "Have you completed this section?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, I’ve completed this section"
            },
            {
              value: "no",
              text: "No, I’ll come back to it later"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>


    </div>
  </div>

{% endblock %}
