{% extends "layouts/main.html" %}

{% set pageName = "What is your name?" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/ethnic-group" method="post">

        {{ govukRadios({
          name: "disability",
          value: data.disability,
          fieldset: {
            legend: {
              text: "Do you have any physical or mental health conditions or illness lasting or expected to last 12 months or more?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "I do not have any physical or mental health conditions or illness lasting or expected to last 12 months or more",
              text: "No"
            },
            {
              divider: "or"
            },
            {
              value: "Prefer not to say",
              text: "Prefer not to say"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
