{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}


{% set pageName = "What is your date of birth?" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/how-many-balls" method="post">

        {{ govukDateInput({
          id: "dob",
          fieldset: {
            legend: {
              text: pageName,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, 27 3 1986"
          },
          items: [
            {
              name: "dob[day]",
              label: "Day",
              value: data.dob.day,
              classes: "govuk-input--width-2"
            },
            {
              name: "dob[month]",
              label: "Month",
              value: data.dob.month,
              classes: "govuk-input--width-2"
            },
            {
              name: "dob[year]",
              label: "Year",
              value: data.dob.year,
              classes: "govuk-input--width-4"
            }
          ]
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
