{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}

{% set pageName = "What is your ethnic group?" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/ethnic-background" method="post">

        {{ govukRadios({
          name: "ethnicity",
          value: data.ethnicity,
          fieldset: {
            legend: {
              text: pageName,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "white",
              text: "White"
            },
            {
              value: "multiple",
              text: "Mixed or multiple ethnic groups"
            },
            {
              value: "asian",
              text: "Asian or Asian British"
            },
            {
              value: "black",
              text: "Black, African, Caribbean or Black British"
            },
            {
              value: "other",
              text: "Other ethnic group"
            },
            {
              divider: "or"
            },
            {
              value: "skip",
              text: "Prefer not to say"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
