{% extends "layouts/main.html" %}

{% set pageName = "When would you like the licence to start from?" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/licence-length" method="post">

        {{ govukDateInput({
          id: "licenceStart",
          fieldset: {
            legend: {
              text: pageName,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, 27 3 2024"
          },
          items: [
            {
              name: "licenceStart[day]",
              label: "Day",
              value: data.licenceStart.day,
              classes: "govuk-input--width-2"
            },
            {
              name: "licenceStart[month]",
              label: "Month",
              value: data.licenceStart.month,
              classes: "govuk-input--width-2"
            },
            {
              name: "licenceStart[year]",
              label: "Year",
              value: data.licenceStart.year,
              classes: "govuk-input--width-4"
            }
          ]
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
