{% extends "layouts/main.html" %}

{% set pageName = "Have you previously held a juggling licence?" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/licence-region" method="post">

      {{ govukRadios({
        name: "previousLicence",
        fieldset: {
          legend: {
            text: pageName,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
