{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}

{% set pageName = "Which of the following best describes your sexual orientation?" %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/check-your-equality-diversity" method="post">

        {% set sexualOrientationHtml %}
          {{ govukInput({
            id: "other-description",
            name: "otherSexualOrientation",
            value: data.otherSexualOrientation,
            type: "text",
            classes: "govuk-!-width-one-half",
            label: {
              text: "How would you describe your sexual orientation? (optional)"
            }
          }) }}
        {% endset -%}

        {{ govukRadios({
          name: "sexualOrientation",
          value: data.sexualOrientation,
          fieldset: {
            legend: {
              text: pageName,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Heterosexual or straight",
              text: "Heterosexual or straight"
            },
            {
              value: "Gay or lesbian",
              text: "Gay or lesbian"
            },
            {
              value: "Bisexual",
              text: "Bisexual"
            },
            {
              value: "Other",
              text: "Other",
              conditional: {
                html: sexualOrientationHtml
              }
            },
            {
              divider: "or"
            },
            {
              value: "Prefer not to say",
              text: "Prefer not to say"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
